
<div class="players-create">

<p><h4>Додавання гравця в: {{ command_name }}</h4></p>

{% set form = active_form_begin() %}
    {{ form.field(model, 'name').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'lastname').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'firstname').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'dateofbirth').textInput({'value' : '0000-00-00'}) | raw }}
    {{ form.field(model, 'position').textInput() | raw }}
    {{ form.field(model, 'id_command').hiddenInput({'readonly' : true, 'value' : id_command}) | raw }}

    <div class="form-group">
        <input type="submit" value="Додати" class="btn btn-primary" />
    </div>
    
{{ active_form_end() }}

</div>
