<div class="players-update">

<p><h4>Редагування гравця: {{ model.name }} {{ model.lastname }}</h4></p>

{% set form = active_form_begin() %}
    {{ form.field(model, 'name').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'lastname').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'firstname').textInput({'maxlength' : true}) | raw }}
    {{ form.field(model, 'dateofbirth').textInput({'value' : '0000-00-00'}) | raw }}
    {{ form.field(model, 'position').textInput() | raw }}

    <div class="form-group">
        <input type="submit" value="Редагувати" class="btn btn-primary" />
    </div>
    
{{ active_form_end() }}

</div>
