
<div class="commands-update">

    <p><h4>Редагування команди {{ model.name }}</h4></p>

<div class="commands-form">

{% set form = active_form_begin() %}
    {{ form.field(model, 'name').textInput({'maxlength' : true, 'required' : true}) | raw }}
    {{ form.field(model, 'year').textInput({'maxlength' : true, 'required' : true}) | raw }}

    <div class="form-group">
        <input type="submit" value="Редагувати" class="btn btn-primary" />
    </div>
    
{{ active_form_end() }}

</div>

</div>
